.academicButton {
  opacity: 0;
  margin-top: 2%;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: rgb(85, 178, 255);
  border: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transition: 1s;
}

.Academic:hover button {
  opacity: 1;
  transition: 1s;
}

.academicButton:hover {
  background: rgb(66, 137, 196);
  transition: 1s;
  cursor: pointer;
}
.academicButton:active {
  transition: 1s;
  transform: scale(0.9);
}

.topBorder {
  width: 100%;
  margin-top: 2%;
  border: 1px solid rgb(68, 146, 255);
}
.workTitle {
  margin-top: 1%;
  font-size: 2rem;
}

.Academic .education {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.Academic .education .left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.university {
  font-weight: bold;
}

.Academic .eduation .right {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: end;
}
.location {
  font-weight: bold;
}

.dates {
  display: flex;
  gap: 3px;
  text-align: end;
}

.education {
  position: relative;
}
.education .delButton {
  opacity: 0;
  position: absolute;
  left: -25px;
  top: 2px;
  border-radius: 5px;
  border: none;
  background: red;
  font-size: 0.6rem;
}

.education:hover .delButton {
  opacity: 1;
  transition: 1s;
}

.delButton:hover {
  background: rgb(196, 66, 94);
  transition: 1s;
  cursor: pointer;
}
.delButton:active {
  transition: 1s;
  transform: scale(0.9);
}
